# TYPES OF ENCODING----FEATURE ENGINEERING

In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("D:\Iris.csv")

In [4]:
data.shape

(150, 6)

In [5]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# ONE HOT ENCODING WITH ONE FEATURE(NOMINAL)

One hot encoding is process of creating a dummy numerical variables for the categories of the particular feature.It is done so beacuse machine learning algorithm is no well versed with categorical features.

If the feature has 50 categories, one hot encoder will create 49 more columns in the dataset.

Increasing of columns in the dataset is the main disadvantage of one hot encoding.

Increase of columns leads to curse of dimensionality.

In [94]:
data=pd.read_csv("D:\Iris.csv",usecols=['Species'])
data1=pd.get_dummies(data,drop_first=True).head()
data1.head()

   Species_Iris-versicolor  Species_Iris-virginica
0                        0                       0
1                        0                       0
2                        0                       0
3                        0                       0
4                        0                       0

# LABEL ENCODING

Label encoding is process of giving numerical labels to categories of the features.The label encoder from scikit learn will assign a number to each categories of the feature.The nujmerical labels column will be separately created.

Creation of number of columns will be reduced in label encoding.

In [95]:
from sklearn.preprocessing import LabelEncoder
data['temp_Species']=LabelEncoder().fit_transform(data.Species)
data.head()

       Species  temp_Species
0  Iris-setosa             0
1  Iris-setosa             0
2  Iris-setosa             0
3  Iris-setosa             0
4  Iris-setosa             0

# ORDINAL ENCODING

Ordinal encoding is a process of giving hierarchial numerical labels to the feature.Since the name is ordinal this encoding technique will be used to encode ordinal categories such as good-3,normal-2,bad-1.

In [7]:
import pandas as pd
import numpy as np
data=pd.read_csv("D:\Iris.csv")
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
maps={'Iris-setosa': 3,'Iris-versicolor': 2,'Iris-virginica': 3}
data['Species_label']=data['Species'].map(maps)
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_label
0,1,5.1,3.5,1.4,0.2,Iris-setosa,3
1,2,4.9,3.0,1.4,0.2,Iris-setosa,3
2,3,4.7,3.2,1.3,0.2,Iris-setosa,3
3,4,4.6,3.1,1.5,0.2,Iris-setosa,3
4,5,5.0,3.6,1.4,0.2,Iris-setosa,3

# COUNT OR FREQUENCY ENCODING

Count or Frequency encoding is the process of producing labels for the categorical features by calculating total number of repeatitions of the category in that particular feature.

In [29]:
import pandas as pd
import numpy as np
data1=pd.read_csv("D:\mercedes.csv",usecols=['X1','X2'])

In [30]:
data1.shape

(4209, 2)

In [34]:
for col in data1.columns[0:]:
    print(col, " : ",len(data1[col].unique()))

X1  :  27
X2  :  44

In [31]:
data1.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [37]:
map1=data1.X1.value_counts().to_dict()
map1

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'ab': 3,
 'q': 3}

In [39]:
data1.loc[:,"X1_freqencode"]=data1["X1"].map(map1)
data1.head()

  X1  X2  X1_freqencode
0  v  at            408
1  t  av             31
2  w   n             52
3  t   n             31
4  v   n            408

In [40]:
map2=data1.X2.value_counts().to_dict()
map2

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'p': 4,
 'ah': 4,
 'au': 3,
 'ar': 1,
 'c': 1,
 'l': 1,
 'aa': 1,
 'j': 1,
 'af': 1,
 'am': 1,
 'o': 1}

In [45]:
data1.loc[0:,"X2_freqencod"]=data1["X2"].map(map2)
data1.head()

  X1  X2  X1_freqencode  X2_freqencod
0  v  at            408             6
1  t  av             31             4
2  w   n             52           137
3  t   n             31           137
4  v   n            408           137

# ONE HOT ENCODING WITH MULTIPLE FEATURES

One hot encoding with multiple features is done by taking top 10 categories from the feature and making other categories as 0.

This technique has gave good accuracy and was proven from KDD cup orange event.

In [49]:
data2=pd.read_csv("D:\mercedes.csv",usecols=['X1','X2','X3','X4','X5','X6'])
data2.shape

(4209, 6)

In [50]:
data2.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [14]:
pd.get_dummies(data2).shape

(4209, 123)

In [19]:
for i in data2.columns[0:]:
    print(i , ":" , len(data2[i].unique()))

X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12

In [21]:
data2.X1.value_counts().sort_values(ascending=False).head(20)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
Name: X1, dtype: int64

In [24]:
top=[x for x in data2.X1.value_counts().sort_values(ascending=False).head(10).index]
top

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [31]:
for i in top:
    data2[i]=np.where(data2['X1']==i,1,0)

In [30]:
data2[['X1']+top].head()

  X1  aa  s  b  l  v  r  i  a  c  o
0  v   0  0  0  0  1  0  0  0  0  0
1  t   0  0  0  0  0  0  0  0  0  0
2  w   0  0  0  0  0  0  0  0  0  0
3  t   0  0  0  0  0  0  0  0  0  0
4  v   0  0  0  0  1  0  0  0  0  0

In [42]:
data3=pd.read_csv("D:\mercedes.csv",usecols=['X1','X2','X3','X4','X5','X6'])
def onehotencod(d,var,tops):
    for i in tops:
        data3[var+'_'+i]=np.where(data3[var]==i,1,0)
for i in data3.columns:
    onehotencod(data3,i,top)
data3.head()

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,...,X6_aa,X6_s,X6_b,X6_l,X6_v,X6_r,X6_i,X6_a,X6_c,X6_o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0